@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.relative {
    position: relative;
}

input {
    padding: 12px 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: transparent;
    color: white;
}


label {
    position: absolute;
    left: 12px;
    top: 12px;
    transition: all 0.2s ease;
    pointer-events: none;
    background: transparent; 
    padding: 0 6px; 
}

input:focus + label,
input.has-value + label {
    top: -8px;
    left: 8px;
    font-size: 12px;
    color: #ffffff;
    background: rgb(20, 27, 36); 
    border-radius: 4px;
}

.container {
  max-width: 1000px; /* Limit the width for better readability */
}

h1, h2 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle text shadow for depth */
}

.section {
  transition: transform 0.3s; /* Smooth transition for hover effects */
}

.section:hover {
  transform: scale(1.02); /* Slightly scale up on hover */
}