@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@keyframes rollIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rollInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

.animate-rollIn {
  animation: rollIn 5s forwards;
}

.animate-rollInRight {
  animation: rollInRight 5s forwards;
}


.relative {
    position: relative;
}

input {
    padding: 12px 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: transparent;
    color: white;
}


label {
    position: absolute;
    left: 12px;
    top: 12px;
    transition: all 0.2s ease;
    pointer-events: none;
    background: transparent; 
    padding: 0 6px; 
}

input:focus + label,
input.has-value + label {
    top: -8px;
    left: 8px;
    font-size: 12px;
    color: #ffffff;
    background: rgb(20, 27, 36); 
    border-radius: 4px;
}